.card {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #fff;
    border: 1px solid rgba(170, 170, 170, 0.075);
    position: relative;
}

.img-animal {
    height: 250px;
    width: 250px;
}

.name-animal {
    font-size: 1.6rem;
    color: #000;
    font-weight: 500;
    font-style: oblique;
    padding: 10px;
}

.img-user{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    bottom: 48px;
}

.time-upload {
    position: absolute;
    right: 10px;
    bottom: 0%;
    margin-bottom: 10px;
    color: #848484;
    font-size: 1.1rem;
}