.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 18px;
    background-color: #eeeeee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.right-item {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 10px 0 20px;
    display: flex;
}
.logo p {
    color: #7A4C3E;
}

.wrapper-find-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.find-icon {
    font-size: 1.4rem;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
}

.list-options {
    height: 100%;
}

.link {
    color: var(--black-text-color);
    padding: 10px 12px;
}

.link span {
    font-size: 1.4rem;
    font-weight: 500;
}

.link .down-icon {
    font-size: 1.2rem;
    margin-left: 4px;
}

.left-item {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.btn_addAnimal {
    padding: 7px 10px;
    background-color: var(--primary-color);
    color: var(--white-text-color);
    border-radius: 16px;
    margin-right: 40px;
    font-size: 1.6rem;
    font-weight: 500;
}

.active {
    border-bottom: 3px solid;
    border-color: var(--primary-color);
}

.ava-user {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}

.list-options-user {
    display: flex;
    flex-direction: column;
    position: absolute;
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.option-user {
    color: var(--grey-text-color);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 10px 10px 10px 20px;
    background-color: #fff;
    display: flex;
    text-align: left;
}

.option-user:nth-child(4) {
    border-top: 1px solid #ccc;
    margin-top: 4px;
}

.option-user:nth-child(3) {
    margin-bottom: 4px;
}

.option-user:hover {
    background-color: var(--greyish-background-color);
}





























.add-animal-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.body {
    min-width: 50%;
    height: 60%;
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
    position: relative;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease;
    animation: fadeIn 0.5s ease forwards;
}


.close-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3rem;
    color: #ccc;
    padding: 8px 10px;
    cursor: pointer;
}

.wrapper-detail-animal {
    display: flex;
}

.form-detail {
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.275);
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.information {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #fff;
    margin: 20px 0;
}

.information input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    outline: 0;
    border: 0;
}

.icon {
    padding: 9px 10px;
    background-color: var(--greyish-background-color);
}

.date {}

.note {
    height: 150px;
    outline: 0;
    border: 0;
}

.animal-image {
    width: 500px;
    border-radius: 6px;
}

.add-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction{
    align-items: center;
    padding: 30px;
    color: var(--white-text-color);
    font-size: 2.2rem;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 8px;
}