.btn_upload {
    background-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
    color: var(--white-text-color);
    outline: 0;
    border: 0;
    max-width: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_upload span {
    font-size: 1.6rem;
    padding: 9px 28px;
    text-align: center;
    font-weight: 500;
}